*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

body{
background:#0b1220;
color:white;
line-height:1.6;
}

/* HEADER */
header{
display:flex;
justify-content:space-between;
padding:20px 60px;
background:#0f172a;
position:sticky;
top:0;
}

header a{
color:white;
margin:0 15px;
text-decoration:none;
}

/* HERO */
.hero{
padding:120px 20px;
text-align:center;
background:linear-gradient(135deg,#2563eb,#06b6d4);
}

.hero h1{
font-size:45px;
}

/* SECTIONS */
section{
padding:70px 20px;
max-width:1000px;
margin:auto;
text-align:center;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
gap:15px;
margin-top:20px;
}

.grid div{
background:#1e293b;
padding:15px;
border-radius:10px;
}

/* CARDS */
.card{
background:#1e293b;
padding:20px;
margin:15px auto;
border-radius:12px;
max-width:600px;
}

/* FOOTER */
footer{
text-align:center;
padding:20px;
background:#020617;
}